<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 该类有一个初始化方法 -->
	<bean id="course" class="ioc.xml.po.Course" >
		<property name="name" value="english">
		</property>
	</bean>
	<bean id="student" class="ioc.xml.po.Student"
		  init-method="initMethod" destroy-method="destroyMethod" factory-bean="course">
		<!--属性注入-->
		<property name="name" value="zhangsan"></property>
		<property name="course" ref="course"></property>
	</bean>
</beans>