<mapper namespace="test">
	<!-- select标签，封装了SQL语句信息、入参类型、结果映射类型 -->
	<select id="findUserById"
		parameterType="com.kkb.mybatis.po.User"
		resultType="com.kkb.mybatis.po.User" statementType="prepared">

		SELECT * FROM user WHERE id = #{id} AND username like '%${username}'
		<!-- SELECT * FROM user WHERE id = #{id} AND username like '%${username}' -->

		<!-- and sex = #{sex} AND username like '%${username}' -->
		<if test="username != null and username !='' ">
			AND username like '%${username}'
			<if test="username != null and username !=''">
				AND 1=1
			</if>
		</if>
	</select>
</mapper>