<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ithawk.demo.springboot.thymeleaf.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ithawk.demo.springboot.thymeleaf.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <select id="selectList" resultType="com.ithawk.demo.springboot.thymeleaf.model.User">
        select * from user
    </select>

    <sql id="Base_Column_List">
      id, name, password
    </sql>
    <insert id="insert" parameterType="com.ithawk.demo.springboot.thymeleaf.model.User">
        insert into user values(#{id},#{name}, #{password})
    </insert>

</mapper>